body {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Courier New, Courier, monospace;
  color: rgb(0, 177, 0);
  background-color: black;
}

.header {
  text-align: right;
}

.header a {
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
}

blockquote {
  border-left: 4px double rgb(0, 177, 0);
  padding-left: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
}
