body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Courier New, Courier, monospace;
  color: rgb(0, 177, 0);
  background-color: black;
}

header.header {
  margin: 5px 0 40px 0;
  text-align: right;
}

header.header a {
  text-decoration: none;
}

header.header a:hover {
  text-decoration: underline;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
}

blockquote {
  margin-left: 20px;
  margin-right: 20px;
  border-left: 3px double rgb(0, 177, 0);
  padding-left: 10px;
}

ul.tags {
  list-style: none;
  padding: 0;
}

ul.tags li {
  display: inline;
}

ul.tags li:after {
  content: ", ";
}

ul.tags li:last-child:after {
  content: "";
}

dt {
  margin-bottom: 5px;
}

dd {
  margin-bottom: 10px;
  margin-left: 20px;
}

ul,
p,
dd {
  text-align: justify;
}
